@import url('https://fonts.googleapis.com/css2?family=Acme&family=Itim&family=Alfa+Slab+One&display=swap&family=Luckiest+Guy&family=Bree+Serif&family=Poppins:wght@200;300&display=swap');

$fontPoppins: 'Poppins', sans-serif;
$fontLuckiest: 'Luckiest Guy', cursive;
$fontItim: 'Itim', cursive;
$fontAlfaSlab: 'Alfa Slab One', cursive;
$fontAcme:  'Acme', sans-serif;

$size1:500px;

$fontSize1:20px;
$fontSize2:15px;
$fontSize3:30px;
$fontSize4:10px;
$fontSize5:25px;

